.notice-image {
  min-width: 234px;
  min-height: 144px;
}

.tag {
  color: #FF963C;
}

.recommmanend {
  width: 216px;
  height: 144px;
  background-color: #2E2E2E;
  color: $primaryColor;
}

hr {
  height: 1px !important;
}